@model SSSLLP.Models.Product_Tbl

@{
    ViewBag.Title = "Pattern";
}
<style>
    @foreach (var col in ViewBag.pclist) {
        <text>
            #selectedColors_@col.cid input[type=checkbox] {
                position: relative;
                border: 2px solid @col.colorname;
                border-radius: 7px;
                background: none;
                cursor: pointer;
                line-height: 0;
                margin: 0 .6em 0 0;
                outline: 0;
                padding: 0px !important;
                vertical-align: text-top;
                height: 20px;
                width: 20px;
                -webkit-appearance: none;
                opacity: .5;
            }

            #selectedColors_@col.cid input[type=checkbox]:hover {
                opacity: 1;
            }

            #selectedColors_@col.cid input[type=checkbox]:checked {
                background-color: @col.colorname;
                opacity: 1;
            }

            #selectedColors_@col.cid input[type=checkbox]:before {
                content: '';
                position: absolute;
                right: 50%;
                top: 50%;
                width: 7px;
                height: 14px;
                border-radius:10px;
                border: solid #FFF;
                border-width: 0 2px 2px 0;
                margin: -1px -1px 0 -1px;
                transform: rotate(45deg) translate(-50%, -50%);
                z-index: 2;
            }
        </text>
    }
</style>

<main>
    <!-- breadcrumb area start -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-wrap">
                        <nav aria-label="breadcrumb">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="~/"><i class="fa fa-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="~/OurBusinesses">Our Businesses </a></li>
                                <li class="breadcrumb-item"><a href="~/OurBusinesses/Suiting">Suiting </a></li>
                                <li class="breadcrumb-item"><a class="@((ViewBag.ActivePage == "OurBusinesses") ? "active" : "")" href="~/OurBusinesses/Suiting/Pattern/@Model.pname">@Model.pname </a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb area end -->

    @using (Html.BeginForm("Pattern", "OurBusinesses", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "row g-3 w-100", id = "AddItemToCart" }))
    {
        @Html.AntiForgeryToken()
        <input value="@Model.Id" name="Id" hidden>
        <input value="@Model.pname" name="pname" hidden>
        <input value="@Model.pimg1" name="pimg1" hidden>
        <input value="@Model.pimg2" name="pimg2" hidden>
        <input value="@Model.pimg3" name="pimg3" hidden>
        <input value="@Model.pweight" name="pweight" hidden>
        <input value="@Model.pdetails" name="pdetails" hidden>

        <!-- page main wrapper start -->
        <div class="shop-main-wrapper section-padding pb-0">
            <div class="container">
                <div class="row">
                    <!-- product details wrapper start -->

                    <div class="col-lg-12 order-1 order-lg-2">
                        <!-- product details inner end -->
                        <div class="product-details-inner">
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="product-large-slider">
                                        <div class="pro-large-img img-zoom">
                                            <img src="@Url.Content("~/Content/assets/Images/Products/" + Model.pimg1)" alt="product-details">
                                        </div>
                                        <div class="pro-large-img img-zoom">
                                            <img src="@Url.Content("~/Content/assets/Images/Products/" + Model.pimg2)" alt="product-details">
                                        </div>
                                        <div class="pro-large-img img-zoom">
                                            <img src="@Url.Content("~/Content/assets/Images/Products/" + Model.pimg3)" alt="product-details">
                                        </div>
                                    </div>
                                    <div class="pro-nav slick-row-10 slick-arrow-style">
                                        <div class="pro-nav-thumb">
                                            <img src="@Url.Content("~/Content/assets/Images/Products/" + Model.pimg1)" alt="product-details">
                                        </div>
                                        <div class="pro-nav-thumb">
                                            <img src="@Url.Content("~/Content/assets/Images/Products/" + Model.pimg2)" alt="product-details">
                                        </div>
                                        <div class="pro-nav-thumb">
                                            <img src="@Url.Content("~/Content/assets/Images/Products/" + Model.pimg3)" alt="product-details">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="product-details-des">
                                        <h3 class="product-name">@Model.pname</h3>
                                        <div class="ratings d-flex">
                                            <span><i class="fa fa-star-o"></i></span>
                                            <span><i class="fa fa-star-o"></i></span>
                                            <span><i class="fa fa-star-o"></i></span>
                                            <span><i class="fa fa-star-o"></i></span>
                                            <span><i class="fa fa-star-o"></i></span>

                                        </div>

                                        <div class="availability">
                                            <i class="fa fa-check-circle"></i>
                                            <span>In stock</span>
                                        </div>
                                        <p class="pro-desc"> @Model.pdetails </p>


                                        <div class="col-lg-12 col-sm-12 col-12">
                                            <span class="price-regular">Colors Available : </span>
                                            <div class="row">

                                                @foreach (var item in ViewBag.pclist)
                                                {
                                                    <div class="col-lg-4 col-sm-4 col-4">
                                                        <div class="selectedColors d-flex justify-content-start align-items-center m-1">
                                                            <span class="ColorName">@item.colorname</span>
                                                            <div class="mx-2" style="height:25px;width:25px;background-color:@item.colorname;border-radius:10px;"></div>
                                                        </div>
                                                    </div>
                                                }

                                            </div>
                                        </div>

                                        <div class="price-box">
                                            <span class="price-regular">Weight per unit : </span>
                                            <span class="ColorName">@Model.pweight</span>
                                        </div>

                                        <div class="quantity-cart-box d-flex align-items-center mt-sm-4 mt-2">
                                            <div class="action_link">
                                                <a class="btn btn-cart2" href="~/Contact" data-bs-toggle="tooltip" title="Call Enquiry">Book Call <i class="fa fa-phone"></i></a>
                                            </div>
                                            &nbsp;
                                            &nbsp;
                                            <div class="action_link">
                                                <a class="btn btn-cart2 btn-add-to-cart-quickview" href="#" data-bs-toggle="modal" data-bs-target="#addtocart_@Model.pname">Sample Enquiry <i class="pe-7s-cart"></i></a>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- product details inner end -->
                        <!-- product details reviews start -->
                        <div class="product-details-reviews section-padding pb-0">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="product-review-info">
                                        <ul class="nav review-tab">
                                            <li>
                                                <a class="active" data-bs-toggle="tab" href="#tab_one">description</a>
                                            </li>
                                            <li>
                                                <a data-bs-toggle="tab" href="#tab_two">information</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content reviews-tab">
                                            <div class="tab-pane fade show active" id="tab_one">
                                                <div class="tab-one">
                                                    <p>@Model.pdetails</p>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="tab_two">
                                                <table class="table table-bordered">
                                                    <tbody>
                                                        <tr>
                                                            <td>Pattern Name</td>
                                                            <td>Availablity</td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Model.pname</td>
                                                            <td>Available</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- product details reviews end -->

                    </div>
                    <!-- product details wrapper end -->
                </div>
            </div>
        </div>
        <!-- page main wrapper end -->

        <!-- Add to cart / select color modal start -->
        foreach (var item in ViewBag.AllProducts)
        {
            <div class="modal" id="addtocart_@item.pname">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <!-- product details inner end -->
                            <div class="product-details-inner">
                                <div class="row">
                                    <div class="col-lg-5">
                                        <div class="product-large-slider">
                                            <div class="pro-large-img img-zoom">
                                                <img src="@Url.Content("~/Content/assets/Images/Products/"+ @item.pimg1)" alt="product-details">
                                            </div>
                                            <div class="pro-large-img img-zoom">
                                                <img src="@Url.Content("~/Content/assets/Images/Products/"+ @item.pimg2)" alt="product-details">
                                            </div>
                                            <div class="pro-large-img img-zoom">
                                                <img src="@Url.Content("~/Content/assets/Images/Products/"+ @item.pimg3)" alt="product-details">
                                            </div>
                                        </div>
                                        <div class="pro-nav slick-row-10 slick-arrow-style">
                                            <div class="pro-nav-thumb">
                                                <img src="@Url.Content("~/Content/assets/Images/Products/"+ @item.pimg1)" alt="product-details">
                                            </div>
                                            <div class="pro-nav-thumb">
                                                <img src="@Url.Content("~/Content/assets/Images/Products/"+ @item.pimg2)" alt="product-details">
                                            </div>
                                            <div class="pro-nav-thumb">
                                                <img src="@Url.Content("~/Content/assets/Images/Products/"+ @item.pimg3)" alt="product-details">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="product-details-des">
                                            <h3 class="product-name">@item.pname</h3>
                                            <div class="ratings d-flex">
                                                <span><i class="fa fa-star-o"></i></span>
                                                <span><i class="fa fa-star-o"></i></span>
                                                <span><i class="fa fa-star-o"></i></span>
                                                <span><i class="fa fa-star-o"></i></span>
                                                <span><i class="fa fa-star-o"></i></span>

                                            </div>

                                            <div class="col-lg-12 col-sm-12 col-12">
                                                <div class="row">
                                                    <span class="price-regular">Select Colors To Add To Cart : </span>
                                                    @foreach (var col in ViewBag.pclist)
                                                    {
                                                        <div class="col-lg-4 col-sm-4 col-6">
                                                            <div id="selectedColors_@col.cid" class="selectedColors d-flex justify-content-start align-items-center m-1">
                                                                <input id="cb_@col.cid" name="SelectedColors" type="checkbox" value="@col.cid" class="color-checkbox">
                                                                <label for="cb_@col.cid">@col.colorname</label>
                                                                <div class="mx-2" style="height:25px;width:25px;background-color:@col.colorname;border-radius:10px;"></div>
                                                            </div>
                                                        </div>
                                                    }
                                                    <h3 class="color-red" style="color:red">@ViewBag.alreadyAdded</h3>
                                                </div>
                                            </div>

                                            <div class="quantity-cart-box d-flex align-items-center mt-2">
                                                <div class="action_link">
                                                    <div class="single-input-item">
                                                        <span id="msg" class="text-danger"></span>
                                                    </div>
                                                    <button id="addtocartbtn" type="submit" class="btn btn-cart2">Add To Cart</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- product details inner end -->
                        </div>
                    </div>
                </div>
            </div>
        }
        <!-- Add to cart / select color modal end -->

    }
    <!-- related products area start -->
    <section class="related-products section-padding">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- section title start -->
                    <div class="section-title text-center">
                        <h2 class="title">Related Products</h2>
                        <p class="sub-title">Add related products to weekly lineup</p>
                    </div>
                    <!-- section title start -->
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="product-carousel-4 slick-row-15 slick-arrow-style">
                        @foreach (var item in (List<SSSLLP.Models.Product_Tbl>)@ViewBag.AllProducts)
                        {
                            { Html.RenderPartial("_ProductGridView", item); }
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- related products area end -->

    @foreach (var item in ViewBag.AllProducts)
    {
        <!-- Quick view modal start -->
        <div class="modal" id="@item.pname">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <!-- product details inner end -->
                        <div class="product-details-inner">
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="product-large-slider">
                                        <div class="pro-large-img img-zoom">
                                            <img src="@Url.Content("~/Content/assets/Images/Products/"+ @item.pimg1)" alt="product-details">
                                        </div>
                                        <div class="pro-large-img img-zoom">
                                            <img src="@Url.Content("~/Content/assets/Images/Products/"+ @item.pimg2)" alt="product-details">
                                        </div>
                                        <div class="pro-large-img img-zoom">
                                            <img src="@Url.Content("~/Content/assets/Images/Products/"+ @item.pimg3)" alt="product-details">
                                        </div>
                                    </div>
                                    <div class="pro-nav slick-row-10 slick-arrow-style">
                                        <div class="pro-nav-thumb">
                                            <img src="@Url.Content("~/Content/assets/Images/Products/"+ @item.pimg1)" alt="product-details">
                                        </div>
                                        <div class="pro-nav-thumb">
                                            <img src="@Url.Content("~/Content/assets/Images/Products/"+ @item.pimg2)" alt="product-details">
                                        </div>
                                        <div class="pro-nav-thumb">
                                            <img src="@Url.Content("~/Content/assets/Images/Products/"+ @item.pimg3)" alt="product-details">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="product-details-des">
                                        <h3 class="product-name">@item.pname</h3>
                                        <div class="ratings d-flex">
                                            <span><i class="fa fa-star-o"></i></span>
                                            <span><i class="fa fa-star-o"></i></span>
                                            <span><i class="fa fa-star-o"></i></span>
                                            <span><i class="fa fa-star-o"></i></span>
                                            <span><i class="fa fa-star-o"></i></span>

                                        </div>

                                        <div class="availability">
                                            <i class="fa fa-check-circle"></i>
                                            <span>In stock</span>
                                        </div>
                                        <p class="pro-desc"> @item.pdetails </p>


                                        <div class="col-lg-12 col-sm-12 col-12">
                                            <span class="price-regular">Colors Available : </span>
                                            <div class="row">

                                                @foreach (var coloritem in ViewBag.ColorOptionsDict[item.Id])
                                                {
                                                    <div class="col-lg-4 col-sm-4 col-4">
                                                        <div class="selectedColors d-flex justify-content-start align-items-center m-1">
                                                            <span class="ColorName">@coloritem.colorname</span>
                                                            <div class="mx-2" style="height:25px;width:25px;background-color:@coloritem.colorname;border-radius:10px;"></div>
                                                        </div>
                                                    </div>
                                                }

                                            </div>
                                        </div>

                                        <div class="price-box">
                                            <span class="price-regular">Weight per unit : </span>
                                            <span class="ColorName">@item.pweight</span>
                                        </div>

                                        <div class="quantity-cart-box d-flex align-items-center mt-2">
                                            <div class="action_link">
                                                <a class="btn btn-cart2" href="@Url.RouteUrl("WeavingPattern",new { productName = @Model.pname })"><span data-bs-toggle="tooltip" title="Book A Sample">Book A Sample <i class="pe-7s-cart"></i></span></a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- product details inner end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Quick view modal end -->

        <!-- Home Enquiry Popup -->
        <div class="modal" id="CallEnq_@item.pname">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <!-- product details inner end -->
                        <div class="product-details-inner">

                            @using (Html.BeginForm("CallEnquiry", "Contact", FormMethod.Post, new { @enctype = "multipart/form-data", id = "CallEnquiry" }))
                            {
                                <input type="text" value="@item.pname" hidden />
                                <div class="row">
                                    <div class="col-lg-5">
                                        <div class="product-large-slider">
                                            <div class="pro-large-img img-zoom">
                                                <img src="~/Content/assets/Images/About/fabric2.jpg" class="img-fluid" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="product-details-des">
                                            <h1 class="product-name">Shree Shanta Synfab LLP</h1>
                                            <div class="ratings d-flex">
                                                <span><i class="fa fa-star-o"></i></span>
                                                <span><i class="fa fa-star-o"></i></span>
                                                <span><i class="fa fa-star-o"></i></span>
                                                <span><i class="fa fa-star-o"></i></span>
                                                <span><i class="fa fa-star-o"></i></span>
                                            </div>
                                            <p class="pro-desc text-justify">
                                                Hello there!<br />
                                                We noticed your interest in our fabric textile company, so kindly provide us with the following information, and our team will get back to you:
                                            </p>
                                            <div class="row">
                                                <div class="col-lg-6 col-sm-6 col-12">
                                                    <div class="price-box">
                                                        <span class="price-regular">Full Name:</span>
                                                        <input type="text" name="cname" class="form-control" required />
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-sm-6 col-12">
                                                    <div class="price-box">
                                                        <span class="price-regular">Phone Number:</span>
                                                        <input type="text" name="cmobile" class="form-control" required />
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-sm-6 col-12">
                                                    <div class="price-box">
                                                        <span class="price-regular">Desired Pattern:</span>
                                                        <input type="text" name="cpattern" class="form-control" required />
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-sm-6 col-12">
                                                    <div class="price-box">
                                                        <span class="price-regular">Fabric Specifications: (e.g., weight, width, color, pattern)</span>
                                                        <input type="text" name="cspecification" class="form-control" required />
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-sm-6 col-12">
                                                    <div class="price-box">
                                                        <span class="price-regular">Quantity Needed:</span>
                                                        <input type="text" name="cqty" class="form-control" required />
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-sm-6 col-12">
                                                    <div class="price-box">
                                                        <span class="price-regular">Company/Venture Name (if any):</span>
                                                        <input type="text" name="cventure" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-sm-6 col-12">
                                                    <div class="quantity-cart-box d-flex align-items-center mt-2">
                                                        <div class="action_link">
                                                            <button class="btn btn-cart2">Send Enquiry</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br />
                                                <br />
                                                <div class="col-lg-12 col-12">
                                                    <div class="alert alert-success" style="background: none; color: black; border-color: #ffa073;" id="CallEnquiryMessage">
                                                        <strong>Thank You! </strong> Our team will review your enquiry promptly and reach out to you as soon as possible.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                            <!-- product details inner end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Home Enquiry Popup End -->

    }
</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#AddItemToCart").submit(function (event) {
            if ($(".color-checkbox:checked").length === 0) {
                event.preventDefault(); // Prevent form submission
                $('#addtocartbtn').prop('disabled', true);
                $('#msg').text('Please select at least one color.');

                setTimeout(function () {
                    $('#msg').text('');
                    $('#addtocartbtn').prop('disabled', false);
                }, 2000);
            }
        });
    });
</script>

